const char WIFI_SSID[] = "network";
const char WIFI_PASSWORD[] = "password";
const char API_GATEWAY_ENDPOINT[] = "api.yourdomain.com";
const char API_KEY[] = "@bcdefgh1234";
const int API_GATEWAY_PORT = 443;